section {
  .container {
    padding: 6pt;
  }
}

table {

  width: 100%;

  tr {
    cursor: pointer;
  }

  .none {
    color: grey;
  }

}

.media-content {
  .title {
    font-size: 2.3em;
  }
  .subtitle {
    font-size: 1.3em;
  }
}
