<section id="projects" class="section">
  <div class="container">
    <h2 class="subtitle">Projects</h2>

    <div class="columns">
      <div class="column is-one-third" *ngFor="let project of content">
        <div class="card">

          <header class="card-header">
            <p class="card-header-title">{{ project.name }}</p>
          </header>

          <div class="card-content">
            <div class="content">
              {{ project.description }}
              <!--
                <br />
                <time datetime={{/* something here */}}> {{ /* same data */}} </time>
              -->
            </div>
          </div>

          <footer class="card-footer">
            <a class="card-footer-item" [attr.href]="project.url">{{ project.url }}</a>
          </footer>
        </div>
    </div>
  </div>

  </div>

</section>

<section class="section" id="producers">
  <div class="container">
    <h2 class="subtitle">Producers</h2>
    <!-- TODO: Add names, emails, last vistits, and generated graph -->
  </div>
</section>
