<section class="section container" *ngIf="isLoading">

  <!-- Loading spinner -->
  <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" width="64px" height="64px" viewBox="0 0 128 128"
    xml:space="preserve">
    <rect x="0" y="0" width="100%" height="100%" fill="#FFFFFF" />
    <g>
      <circle cx="16" cy="64" r="16" fill="#000000" fill-opacity="1" />
      <circle cx="16" cy="64" r="14.344" fill="#000000" fill-opacity="1" transform="rotate(45 64 64)" />
      <circle cx="16" cy="64" r="12.531" fill="#000000" fill-opacity="1" transform="rotate(90 64 64)" />
      <circle cx="16" cy="64" r="10.75" fill="#000000" fill-opacity="1" transform="rotate(135 64 64)" />
      <circle cx="16" cy="64" r="10.063" fill="#000000" fill-opacity="1" transform="rotate(180 64 64)" />
      <circle cx="16" cy="64" r="8.063" fill="#000000" fill-opacity="1" transform="rotate(225 64 64)" />
      <circle cx="16" cy="64" r="6.438" fill="#000000" fill-opacity="1" transform="rotate(270 64 64)" />
      <circle cx="16" cy="64" r="5.375" fill="#000000" fill-opacity="1" transform="rotate(315 64 64)" />
      <animateTransform attributeName="transform" type="rotate"
        values="0 64 64;315 64 64;270 64 64;225 64 64;180 64 64;135 64 64;90 64 64;45 64 64" calcMode="discrete"
        dur="500ms" repeatCount="indefinite"></animateTransform>
    </g>
  </svg>

</section>

<section id="deny" class="section container" *ngIf="!isLoading && !allowAccess">
  Sorry, you don't have the permissions to access this page.
</section>

<div *ngIf="allowAccess && hasContent">

  <section class="section" id="producers">
    <div class="container">
      <h2 class="subtitle">Producers</h2>

      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="user.name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let item" [class.none]="!item.projects || item.projects.length === 0"> {{ item.user.name }} </td>
        </ng-container>
        <ng-container matColumnDef="user.email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let item">
            <ng-container *ngIf="item.user.email; else noEmail">
              {{item.user.email}}
            </ng-container>
            <ng-template #noEmail>
              N/A
            </ng-template>
          </td>

        </ng-container>
        <ng-container matColumnDef="user.lastLogin">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Login </th>
          <td mat-cell *matCellDef="let item">

            <ng-container *ngIf="item.user.lastLogin; else noLogin">
              {{item.user.lastLogin | date: 'LLL dd yyyy' }}
            </ng-container>
            <ng-template #noLogin>
              N/A
            </ng-template>

          </td>
        </ng-container>
        <ng-container matColumnDef="latestSurveyDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Survey Date </th>
          <td mat-cell *matCellDef="let item">

            <ng-container *ngIf="item.latestSurveyDate; else noSurvey">
              {{item.latestSurveyDate | date: 'LLL dd yyyy'}}
            </ng-container>
            <ng-template #noSurvey>
              N/A
            </ng-template>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr (click)="viewProjects(row.projects)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>

      <ng-template #projectsDialog id="projects-modal" let-data>
        <mat-dialog-content>
          <h2 class="no-bottom-space">View Projects</h2>

          <mat-list>
            <mat-list-item *ngFor="let project of data">
              <a (click)="closeProjects()" routerLink="/admin/{{project._id}}">{{project.name}}</a>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>

        </mat-dialog-content>
      </ng-template>

    </div>
  </section>

</div>
