<section class="container desktop" *ngIf="hasContent">

  <div id="top" class="columns column is-multiline is-mobile">
    <h4 class="column is-11-mobile is-5-tablet no-margin">Hi, <strong>{{userName}}</strong></h4>
  </div>

  <div class="column">

    <p id="none" *ngIf="noProjects">You currently have no projects.</p>

    <div class="new" *ngIf="projects && projects.length > 0">
      <button class="mono" routerLink="/create" *ngIf="projects">
        <svg width="30" height="30" fill="none" viewBox="0 0 30 30">
          <path stroke="#fff" d="M30 14.5H0M14.499 0v30" />
        </svg>

        <span>Create A Project</span>
      </button>

      <!-- empty for grid layout, on non-mobile -->
      <div class="hidden-mobile"></div>

    </div>

    <!-- Button for first project -->
    <div class="new" *ngIf="noProjects">

      <button class="mono" routerLink="/create">
        <svg width="30" height="30" fill="none" viewBox="0 0 30 30">
          <path stroke="#fff" d="M30 14.5H0M14.499 0v30" />
        </svg>

        <span>Create Your First Project</span>
      </button>

    </div>

    <!-- Project List Display -->
    <div id="projects">
      <div class="project" *ngFor="let project of projects;">

        <a routerLink="/projects/{{project.slug}}">
          <div class="master columns column is-mobile">

            <div class="margin column is-one-third-desktop is-one-quarter-tablet is-one-quarter-mobile">
              <svg class="project-image" width="140" height="140" fill="none" viewBox="0 0 140 140">
                <path fill="#fff" stroke="#5A5C27" d="M.5.5h139v139H.5z" />
                <path stroke="#5A5C27" stroke-miterlimit="10" d="M116.674 0v140M93.326 0v140" />
                <path stroke="#5A5C27" stroke-miterlimit="10" stroke-width="2" d="M70 0v140" />
                <path stroke="#5A5C27" stroke-miterlimit="10" d="M46.674 0v140M23.326 0v140M140 116.674H0M140 93.326H0" />
                <path stroke="#5A5C27" stroke-miterlimit="10" stroke-width="2" d="M140 70H0" />
                <path stroke="#5A5C27" stroke-miterlimit="10" d="M140 46.674H0M140 23.326H0" />
              </svg>
            </div>

            <div class="margin txt column">

              <div class="columns is-mobile">
                <div class="column name uppercase">
                  {{project.name}}
                </div>

                <span class="column icon is-one-fifth">
                  <svg class="go-arrow" xmlns="http://www.w3.org/2000/svg" width="34" height="27" fill="none" viewBox="0 0 34 27">
                    <path stroke="#000" d="M0 13.523h33.284M20.329.358l13.313 13.313" />
                    <path stroke="#000" stroke-width="1.01184" d="M20.329 26.37l13.313-13.314" />
                  </svg>
                </span>
              </div>

              <p class="desc">
                {{project.description}}
              </p>
            </div>
          </div>
        </a>
      </div>

      <!-- empty for grid layout, if only one project -->
      <div *ngIf="projects.length === 1" class="hidden-mobile"></div>
    </div>
  </div>

</section>
