@import '~src/style/_variables';

#signin-link {

    @include pxtoem(14, 16);

    @include phones {
        @include translate(0, 1.1rem);
    }
    @include translate(0, .75rem);

    display: block;
    letter-spacing: 2px;

}

#pic {

    max-width: 50px;
    max-height: 50px;
    border-radius: 50px;

    @include phones {
        max-width: 30px;
        max-height: 30px;
    }
}